{% extends 'home.html' %}

{% load static %}

{% block contenu %}
<div class="container-fluid fw-bold ">
    <div class="row my-5">
        <div class="col-12 col-md-6 d-flex justify-content-center">
           <img src="{% static 'img/user_profile_2.png' %}" alt="user_profile_2" class="">
        </div>
        <div class="col-12 col-md-6 m-auto">
            <h2 class="">Utilisateur non connecté</h2>
            <h5 class="mx-5 text-star"><a href="{% url 'utilisateur:inscrire1' %}">Inscription</a>|<a href="{% url 'utilisateur:login' %}">Connexion</a></h5>
        </div>
    </div>
</div>
{% endblock %}